table {
    font-family: arial, sans-serif;
    font-weight: bold;
    border-collapse: collapse;
    width:80%;
   
     margin-left: 150px;
}

td, th {
    border: 3px solid lightgray;
    text-align: left;
    padding: 2px;
}

  
#imagetable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
        
}
#imagetable th {
	background:#b5cfd2 url('cell-blue.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
       
}
#imagetable td {
	background:#dcddc0 url('cell-grey.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}




#button1 
{
    padding: 10px 20px 11px !important;
font-size: 20px !important;
background-color: lightcoral ;
font-weight: bold;
text-shadow: 1px 1px #F36C8C;
color: white;
border-radius: 100px;
-moz-border-radius: 100px;
-webkit-border-radius: 100px;
border: 1px solid #F36C8C;
cursor: pointer;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;

}

.wrapper {
    text-align: center;
}
#button2  
{
    padding: 3 3 3 ;
font-size: 15px !important;
background-color: #dddddd;
font-weight: bold;

color: black;
border-radius: 100px;
-moz-border-radius: 100px;
-webkit-border-radius: 100px;
border: 1px;
cursor: pointer;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;

}

#list5 { color:#eee;  list-style-type: none;}
#list5 ul { font-size:30px; }
#list5 ul li { }
#list5 ul li ul {  padding:5px 0 5px 18px; font-size:15px; }
#list5 ul li ul li { color:#bfe1f1; height:15px; margin-left:10px; }

.backspace { margin-left: -5px; }
.backspace2 { margin-left: -12px; }

